accelerate>=0.33.0
transformers>=4.44.0
datasets>=2.20.0
peft>=0.11.1
bitsandbytes==0.43.1
triton>=2.1.0
safetensors>=0.4.4
sentencepiece>=0.1.99
protobuf>=5.26.1
einops>=0.8.0
huggingface_hub>=0.23.5
evaluate>=0.4.2
tqdm>=4.66.4
